{% extends 'base.html' %}

{%block title%}Informace

{%endblock%}
{% block obsah %}

<h1>Editace</h1>
<form method="post">
    <textarea name="body" cols="80" rows="7">{{body}}</textarea>
    <p>
        <button type="submit">Odeslat</button>
    </p>
</form>




{% endblock obsah %}